@page "/Clientes"
@page "/Clientes/{Id:int}"
<div class="form-register">
    <h3>Usuarios</h3>
    <EditForm Model="@cliente" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <label class="text-muted form-text">@Mensaje</label>
        <div class="form-group">
            <label> UsuarioId</label>
            <InputNumber class="form-control" @bind-Value="cliente.ClienteId"></InputNumber>
            <ValidationMessage For="(() => cliente.ClienteId)" />
            <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
        </div>

        <div class="form-group">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="cliente.Nombre"></InputText>
            <ValidationMessage For="(() => cliente.Nombre)" />
        </div>

        <div class="form-group">
            <label>Cedula</label>
            <InputText class="form-control" @bind-Value="cliente.Cedula"></InputText>
            <ValidationMessage For="(() => cliente.Cedula)" />
        </div>

        <div class="form-group">
            <label>Telefono</label>
            <InputText class="form-control" @bind-Value="cliente.Telefono"></InputText>
            <ValidationMessage For="(() => cliente.Telefono)" />
        </div>

        <div class="form-group">
            <label>Confirmar Clave</label>
            <InputText class="form-control" @bind-Value="cliente.Direccion"></InputText>
            <ValidationMessage For="(() => cliente.Direccion)" />
        </div>

        <div class="form-group">
            <label class="form-control">Nivel de Usuario</label>
            <InputSelect @bind-Value="usuarios.TipodeUsuario">
                <option value="Administrador">Administrador</option>
                <option value="Cajero">Cajero</option>
            </InputSelect>
            <ValidationMessage For="(() => usuarios.TipodeUsuario)" />

        </div>

        <div class="form-group">
            <label>Fecha de Ingreso</label>
            <InputDate class="form-control" @bind-Value="usuarios.FechaIngreso"></InputDate>
            <ValidationMessage For="(() => usuarios.FechaIngreso)" />
        </div>

        <div>
            <button type="button" class="btn btn-danger" @onclick="Limpiar">Nuevo</button>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-secondary" @onclick="Eliminar">Eliminar</button>
        </div>
    </EditForm>
</div>
<br />
<br />


@code {
    [Parameter]
    public int Id { get; set; }
    public string Mensaje { get; set; }

    Clientes cliente = new Clientes();

    protected override void OnInitialized()
    {
        UsuarioController controller = new UsuarioController();
        Limpiar();
        Mensaje = string.Empty;
        if (Id != 0)
        {
            usuarios = controller.Buscar(Id);
        }
    }

    public string Encrypt(string cadenaEncriptada)
    {
        string resultado = string.Empty;
        byte[] encryted = System.Text.Encoding.Unicode.GetBytes(cadenaEncriptada);
        resultado = Convert.ToBase64String(encryted);

        return resultado;
    }

    public string DeCrypt(string cadenaDesencriptada)
    {
        string resultado = string.Empty;
        byte[] decryted = Convert.FromBase64String(cadenaDesencriptada);
        resultado = System.Text.Encoding.Unicode.GetString(decryted);

        return resultado;
    }

    public bool ExisteEnLaBaseDeDatos(int id)
    {
        Contexto db = new Contexto();
        var buscado = db.Usuarios.Find(id);
        bool paso = true;

        if (buscado == null)
        {
            paso = false;
        }

        return paso;
    }

    private void Limpiar()
    {
        usuarios = new Usuarios();
    }

    private void Guardar()
    {
        UsuarioController controller = new UsuarioController();

        if (usuarios.UsuarioId > 0)
        {
            if (usuarios.Contraseña == usuarios.RepeatContraseña)
            {

                if (ExisteEnLaBaseDeDatos(usuarios.UsuarioId))
                {
                    if (controller.Guardar(usuarios))
                    {
                        Mensaje = "Se modifico correctamente";
                        Limpiar();
                    }
                    else
                    {
                        Mensaje = "No se pudo modificar";
                    }

                }
                else
                {
                    Mensaje = "No se puede modificar un Usuario que no exista";
                }
            }
            else
            {
                Mensaje = "Las contraseña no coinciden";
            }
        }
        else
        {
            if (controller.Guardar(usuarios))
            {
                Mensaje = "Se guardo correctamente";
                Limpiar();
            }
            else
            {
                Mensaje = "No se pudo Guardar";
            }
        }
    }

    private void Eliminar()
    {
        UsuarioController controller = new UsuarioController();
        int id = usuarios.UsuarioId;
        if (id > 0)
        {
            if (ExisteEnLaBaseDeDatos(id))
            {
                controller.Eliminar(id);
                Limpiar();
                Mensaje = "Se elimino Correctamente";
            }
            else
            {
                Mensaje = "No se puede eliminar un Usuario que no Exista";
            }
        }
        else
        {
            Mensaje = "No se puede eliminar asi";
        }
    }

    private void Buscar()
    {
        UsuarioController controller = new UsuarioController();
        var buscado = controller.Buscar(usuarios.UsuarioId);

        if (buscado != null)
        {
            usuarios = buscado;
            Mensaje = "Se encontro el Usuario";
        }
        else
        {
            Mensaje = "No existe este Usuario";
        }
    }
}